::selection {
  background-color: #8ac249;
  color: #fff;
}
::-moz-selection {
  background-color: #8ac249;
  color: #fff;
}


.theme-color{
  color: #8ac249;
}

.portfolio-filter li:hover,
.portfolio-filter li.active,
.m-btn-dark,
.m-btn-white:hover,
.feature-box:after,
.section-title h2:after,
.section-title p:after,
.btn-theme,
.theme-bg {
  background: #8ac249;
}

.feature-box-02:hover{
	border-color: #8ac249;
}